.footer
    .container
        p(style="font-size: 12px; padding-top: 14px; line-height: 14px")
            | Crafted with 
            i.fa.fa-heart
            |  from Seoul
            br
            | Copyright ⓒ 
            a(href="https://twitter.com/smashthewindow") Jae
            |  All rights reserved

//jQuery
script(type='text/javascript', src='/lib/jquery/jquery.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-ui-utils/ui-utils.js')

//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/posts.js')

//Application Controllers
script(type='text/javascript', src='/js/controllers/posts.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/init.js')

if (process.env.NODE_ENV == 'development')
    //Livereload script rendered
    script(type='text/javascript', src='http://' + req.host + ':35729/livereload.js')