<section>
    <div class="top">
        <div class="head-region">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    <h4>About</h4>
                    <p>Readly provides an easy way for users to access old articles.</p>
                    </div>
                    <div class="col-md-6"><img src="/img/background/about.png" alt="Readly" style="width: 100%"></div>
                </div>

            </div>
        </div>
        <div class="padding"></div>
    </div>

    <div class="container" fill>
        <h6>Are there any advanced tagging options?</h6>
        <p>Add #readly + [time value] + [time unit]. The following time units are available.</p> 
        <table class="table table-condensed">
            <tr>
                <th>Letter</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>h</td>
                <td>Hours</td>
            </tr>
            <tr>
                <td>d</td>
                <td>Days</td>
            </tr>
            <tr>
                <td>w</td>
                <td>Weeks</td>
            </tr>
            <tr>
                <td>m</td>
                <td>Months</td>
            </tr>
            <tr>
                <td>y</td>
                <td>Years</td>
            </tr>
        </table>
        <p>The default time schedule is 3 days. If no time units and value is specified (#readly) or is unrecognizable, the default time schedule is used.</p> <br>
        <h6>Is there any way to set up repeated reminders?</h6>
        <p>As of now, no. But this feature is definately in the development roadmap.</p> <br>
        <h6>What's Readly's privacy policy?</h6>
        <p>I won't use any of your information other than the sole purpose of sending out the requested links.</p> <br>
        <h6>Who's behind Readly?</h6>
        <p>Readly is an one-man project where everything is designed and programmed by <a href="https://twitter.com/smashthewindow">@smashthewindow</a>. I'm always looking for ways to provide users with smooth and enjoyable reading experience - if you have any suggestions, come drop me a message!</p>
    </div>
</section>