<section data-ng-controller="PostsController" data-ng-init="find()">
    <div class="intro"></div>
    <div class="container">
        <div class="h6">Awaiting links</div>
        <div class="row" data-ng-repeat="post in posts" data-ng-if="!!post.next_reminder">
            <div class="col-md-3">{{post.next_reminder}}</div>
            <div class="col-md-8">{{post.url}}</div>
            <div class="col-md-1">Delete</div>
        </div>
        <div class="h6">Previous links</div>
        <div class="row" data-ng-repeat="post in posts" data-ng-if="!post.next_reminder">
            <div class="col-md-3">{{post.prev_reminders[post.prev_reminders.length-1]}}</div>
            <div class="col-md-8">{{post.url}}</div>
            <div class="col-md-1">Delete</div>
        </div>
    </div>
</section>