.navbar-wrapper {
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
}

.navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
}

footer p {
    text-align: center;
    color: gray;
    font-size: 0.7em;
}

footer a:link {
    color: #6E6E6E;
}      /* unvisited link */
footer a:visited {
    color: #6E6E6E;
}  /* visited link */
footer a:hover {
    color: #262626;
}  /* mouse over link */
footer a:active {
    color: #262626;
}  /* selected link */ 

footer a:link {
    text-decoration: underline;
}

footer a:visited {
    text-decoration: underline;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    text-decoration: underline;
}