* {
    font-family: 'Average Sans', sans-serif;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.content {
    margin: 0 auto;
    padding: 1em;
    max-width: 1000px;
}

/*
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #ddd;
    -webkit-box-shadow: 0 8px 6px 6px black;
    -moz-box-shadow: 0 8px 6px 6px black;
    box-shadow: 0 8px 6px 6px black
}
*/

footer p {
    text-align: center;
    color: gray;
    font-size: 0.7em;
}