.intro {
    padding-top: 250px;
    padding-bottom: 200px;
    background-image: url('/img/background/intro.png');
    background-size: cover;
    color: white;
}

.info {
    background-color: #1abc9c;
    padding-top: 70px;
    padding-bottom: 50px;
}

.info>div {
    width: 100%;
    text-align: center;
}

.info .fa {
    font-size: 5em;
}

.infotext {
    padding: 0.5em;
}

.faq {
    margin-top: 50px;
}