.intro {
    padding-top: 180px;
    min-height: 500px;
    /*
    background-color: #70FFE3;
    */
    background-size: cover;
}

.intro a {
    font-family: 'Arvo', Georgia, Times, serif !important;
}

.intro>.container {
    vertical-align: center;
}

.info {
    background-color: #1abc9c;
    padding-top: 70px;
    padding-bottom: 50px;
}

.info>div {
    width: 100%;
    text-align: center;
}

.info .fa {
    font-size: 5em;
}

.infotext {
    padding: 0.5em;
}

.faq {
    margin-top: 50px;
}