extends ../layouts/default

block content
    .top
        .head-region
            .container
                .row
                    .col-md-6
                        h4 Email sent.
                        p An email should arrive within a few minutes.
                            br
                            br
                            | Make sure to check your spam folder!
                    .col-md-6
                        //- img(src="/img/background/index.png", alt="Browser", style="width: 100%")
        .padding
    .container(fill)
        br
        p Didn't receive it?
        a.btn.btn-primary(href="/retry") Retry with a different address.
    script(type="text/javascript").
        window.user = !{user};