extends ../layouts/default

block content
    .intro
        .container
    .container
        p An email has been sent to your inbox. Make sure to check your spam folder!
        br
        p Didn't receive it?
        a(href="/reset") Retry with a different address.