extends ../layouts/default

block content
    .top
        .head-region
            .container
                h4 Email sent.
                p An email should arrive within a few minutes.
        .padding
    .container(fill)
        p An email has been sent to your inbox. Make sure to check your spam folder!
        br
        p Didn't receive it?
        a(href="/reset") Retry with a different address.
    script(type="text/javascript").
        window.user = !{user};