extends ../layouts/default

block content
    .top
        .head-region
            .container
                h4 Verification successful.
                p Now you can start tweeting those links you love.
        .padding
    .container(fill)
    script(type="text/javascript").
        window.user = !{user};