extends ../layouts/default

block content
    .top
        .head-region
            .container
                .row
                    .col-md-6
                        h4 Unsubscription successful.
                        p You won't be bothered anymore!
                    .col-md-6
                        //- img(src="/img/background/index.png", alt="Browser", style="width: 100%")
        .padding
    .container(fill)
    script(type="text/javascript").
        window.user = !{user};