extends ../layouts/default

block content
    .top
        .head-region
            .container
                .row
                    .col-md-6
                        h4 Register or change your email.
                        p We need an email address to send your links to.
                            br
                            br
                            | The verification email will arrive within a couple of minutes. Make sure to check the junk folder along with the inbox!
                    .col-md-6
                        //- img(src="/img/background/index.png", alt="Browser", style="width: 100%")
        .padding
    .container(fill)
        if message && message.length
            br
            .alert.alert-danger
                strong #{message}
        br
        form(role="form", action="/email", method="post")
            .row
                .col-md-10
                    .form-group
                        label(for="email").sr-only Email address
                        input(type="email", name="email", id="email").form-control
                .col-md-2
                    button(type="submit").btn.btn-primary.btn-block Verify
    script(type="text/javascript").
        window.user = !{user};